html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.header {
	height: 65px;
	display: flex;
}

.center-header-container {
	display: flex;
	flex: .73;
}

.small-icon {
	flex: 1;
	margin: auto 7px;
}

.small-avatar-header-image {
	margin: 15px;
	border-radius: 3px;
	max-height: 32px;
	max-width: 32px;
}

.avatar-text-header {
	font-family: 'Open Sans';
	margin: auto -4px;
	display: flex;
	flex-direction: column;
	flex: .5;
}

.top-line-header {
	font-size: .7em;
	color: #d3d3d3;
	letter-spacing: 1px;	
}

.bottom-line-header {
	font-size: .8em;
	color: #000;
}

.search-signup-container {
	background: #fff;
	margin: auto;
	display: flex;
	align-self:flex-end;
	margin-right: 10px;
}

.search-box {
	height: 38px;
	width: 217px;
	font-size: .8em;
	background: url(file:///Users/josephkobrosky/GitHub/DevMountain/React-Clone/images/small-search.png) no-repeat;
	background-position: 10px;
	font-family: 'Open Sans';
	color: #000;
	border: 1px solid #d8d8d8;
	margin: auto;
	padding-left: 30px;
	border-radius: 24px;
}

.signup {
	margin-left: 10px;
}

.signup-btn {
	height: 38px;
	width: 132px;
	background: #fff;
	font-size: .8em;
	color: #57ad68;
	border: 1px solid #57ad68;
	border-radius: 24px;
}

.subheader {
		display: none;
	}

/******************** END OF HEADER SECTION ********************/

.main-content-container {
	width: 100%;
	padding-top: 75px;
}

.main-column {
	width: 700px;
	margin: 0 auto;
}

.graf-h2 {
	font-weight: 700;
	font-size: 60px;
	margin-left: -3px;
	line-height: 1;
	letter-spacing: -0.04em;
	margin-bottom: 8px;
	color: rgba(0,0,0,0.8);
}

.graf-p {
	font-family: 'Merriweather Sana', Georgia;
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.graf-blockquote {
	letter-spacing: .01rem;
	font-style: italic;
	border-left: 3px solid rgba(0,0,0,0.8);
	padding-left: 20px;
	margin-left: -23px;
	padding-bottom: 3px;
}

.graf-blockquote + .graf-blockquote {
	padding-top: 30px;
	margin-top:-30px;
}

.graf-h3 {
	letter-spacing: -0.02em;
	font-weight: 700;
	font-size: 36px;
	margin-left: -1.8px;
	line-height: 1.2;
	margin-top: 40px;
	margin-bottom: 4px;
	color: (0,0,0,0.8);
}

.graf-h3 + .graf-p.graf-empty:not(.graf-last) {
	margin-bottom: -7px;
	margin-top: -7px;
}

.graf-pre {
	font-family: Monaco, 'Courier New', monospace;
	font-size: 16px;
	background: rgba(0,0,0,0.05);
	margin-bottom: 20px;
	padding: 20px;
	line-height: 10px;
	white-space: pre-line;
}

.footer-container {
	width: 100%;
}

.footer {
	display: flex;
	padding-bottom: 20px;
}

.rmd-btn {
	height: 38px;
	width: 132px;
	background: url(file:///Users/josephkobrosky/GitHub/DevMountain/React-Clone/images/small-heart.jpeg) no-repeat;
	background-position: 10px;
	padding-left: 15px;
	font-size: .8em;
	color: #57ad68;
	border: 1px solid #57ad68;
	border-radius: 24px;
}

.rmd-btn-label {
	display: flex;
	height: 38px;
	padding: 6px 0;
	color: rgba(0,0,0,0.6);
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	letter-spacing: -0.02em;
}

.recommend-container {
	width: 500px;
	margin-right: 40px;
}

.rmd-btn-em {
	color: rgba(0,0,0,0.15);
	padding: 0 4px;
}

.button-set {
	height: 66px;
	color: rgba(0,0,0,0.3);
	font-size: 13px;
	font-family: 'Open Sans';
	display: flex;
	margin-left: 85px;
}

.btn-holder {
	display: flex;
	flex-direction: column;
}

.btn-item {
	width: 38px;
	height: 38px;
	background: #fff;
	border: 1px solid #d8d8d8;
	border-radius: 20px;
	margin: 0 10px;
}

.btn-bookmark {
	background: url(file:///Users/josephkobrosky/GitHub/DevMountain/React-Clone/images/small-bookmark.jpeg) center no-repeat;
}

.btn-share {
	background: url(file:///Users/josephkobrosky/GitHub/DevMountain/React-Clone/images/small-share.png) center no-repeat;
}

.btn-more {
	background: url(file:///Users/josephkobrosky/GitHub/DevMountain/React-Clone/images/small-more.png) center no-repeat;
}

.btn-label {
	font-size: 11px;
	padding: 6px 0;
	text-align: center;
}

.top-line-h4 {
	color: #000;
	font-size: 1em;
	font-weight: 700;
}

.follow-btn {
	height: 33px;
	background: #fff;
	font-size: .7em;
	color: #57ad68;
	border: 1px solid #57ad68;
	border-radius: 18px;
}

.img-item {
	max-height: 60px;
	max-width: 60px;
}

.bot-bar-container {
	display: flex;
	padding: 25px 0;
	border-top: 1px solid rgba(0,0,0,0.2);
}

/*div.bot-bar-container::before {
	content: '';
	padding-left: 20px;
	padding-right: 20px;
	min-height: 1px;
	margin: 25px 0;
	border-top: 1px solid rgba(0,0,0,0.2);
}

div.bot-bar-container::after {
	content: '';
	padding-left: 20px;
	padding-right: 20px;
	min-height: 1px;
	margin: 25px 0;
	border-top: 1px solid rgba(0,0,0,0.2);
}
*/

.right-bot-bar-image {
	border-radius: 31px;
}

.left-bot-bar {
	display: flex;
}

.mid-content-holder {
	display: flex;
	flex-direction: column;
	margin: 0 15px;
}

.right-bot-bar {
	display: flex;
	margin-left: 45px;
}

.legalese {
	margin-top: -10px;
	margin-left: 75px;
	margin-bottom: 50px;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

.bottom-fixed-bar {
	min-height: 50px;
	border-top: 1px solid rgba(0,0,0,0.2);
	background: #fff;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.bottom-fixed-bar-left-container {
	width: 50%;
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.bottom-fixed-bar-right-container {
	float: right;
	margin-top: -40px;
	margin-right: 10px;
}

.bot-bar-small-avatar {
	max-width: 32px;
	max-height: 32px;
	margin: 0 5px;
}

.bot-bar-img {
	margin: 0 5px;
}

.bot-bar-img-item {
	max-width: 32px;
	max-height: 32px;
	border-radius: 16px;
	margin: 0 5px;
}

.bot-bar-text-group {
	display: flex;
	margin: auto 5px;
}

.bot-bar-subtext {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.author-name {
	color: #57ad68;
}

.bot-bar-rmd-btn-label {
	display: flex;
	color: rgba(0,0,0,0.6);
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.bottom-bar-icons {
	float: right;
}


/******************** END OF STYLING SELECTORS ********************/

@media screen and (max-width: 767px) {
	.main-column {
		margin-top: 15px;
	}

	.main-content-container {
		display: flex;
	}

	.search-box {
		height: 38px;
		width: 38px;
		background: url(file:///Users/josephkobrosky/GitHub/DevMountain/React-Clone/images/small-search.png) no-repeat;
		background-position: center;
		color: #000;
		border: 1px solid #d8d8d8;
		margin: auto;
		border-radius: 20px;
	}

	.top-line-header {
		display: none;
	}

	.bottom-line-header {
		display: none;
	}

	.small-icon {
		flex: .5;
		max-width: 38px;
		border-right: 1px solid rgba(0,0,0,0.2);
	}

	.small-avatar-header-image {
		flex: .5;
		margin: 10px 10px;
	}

	.subheader {
		max-height: 75px;
		max-width: 767px;
		display: inline;
		flex-direction: row;
		margin-left: 15px;
	}

	.subheader-img {
		min-width: 35px;
		max-height: 35px;
		border-radius: 14px;
		float: left;
		margin-right: 15px;
	}

	.img-item {
		max-height: 38px;
	}

	.subheader-text {
		max-width: 115px;
		display: flex;
		flex-direction: column;
		font-size: 12px;
		color: rgba(0,0,0,0.3);
		font-family: 'Open Sans';
		margin: -15px 0;
	}

	.recommended-tag {
		max-width: 150px;
		float: right;
		flex: .5;
		font-size: 14px;
		margin-top: -15px;
		margin-right: -25px;
	}

	.graf-p {
		font-family: 'Merriweather Sana', Georgia;
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 30px;
	}

	.bottom-fixed-bar {
		display: none;
	}
}


























